[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.12"
djangorestframework = "3.14"
django-filter = "*"
drf-nested-routers = "*"
djoser = "*"
pillow = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
